
.dark{
    width: 100%;
    height: 200px;
    background-color: black;
    z-index: 1;
}

.profile{
    position: relative;
    margin: 0 auto !important;
    padding: 10px;
    z-index: 2;
    top: -100px;
    background-color: aliceblue;
}

.image-container{
    position: absolute;
    top: -50px;
    left: 43%;
    border: 10px solid black;
    border-radius: 50%;
}



.image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.desc{
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.constent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.name{
    font-weight: bold;
    font-size: 1.5rem;
}

.see-more{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.more{
    margin: 0 auto;
    background-color: aliceblue;
}
.edit-button-conteianer{
    display: flex;
    flex-direction: end;
    padding-right: 20px;
}
.edit-profile-button{
    min-width: 100px;
    margin-left: auto;
    background-color: rgb(131, 131, 206);
}

.seemore-button{
    background-color: rgb(134, 134, 206);
}

@media only screen and (max-width: 600px) {
    .image-container{
        left: 10%;
    }
    .desc{
        margin: 0;
        margin-top: 50px;
    }
    .constent{
        display: flex;
        justify-content: start;
        align-items: flex-start;
        flex-direction: column;
    }
  }